<div class="row">
    <div class="col"></div>
    <div class="col">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of transact">
                    <td>{{i.Type}}</td>
                    <td>{{i.Amount}}</td>

                </tr>
            </tbody>
        </table>

    </div>
    <div class="col">
        <button class="btn btn-danger" routerLink="/dashb">Home</button>
    </div>
</div>

